body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF6E0; }
h1 {
    color: #FFF6E0;
    background-color: #556B6B;
    padding: 20px; 
    letter-spacing: 0.3rem;
    text-transform: capitalize; 
    font-family: 'Poppins', sans-serif; }
p {
    padding-left: 2.2rem;
    padding-right: 1.3rem; 
    line-height: 1.5rem; 
    font-family: Arial, Helvetica, sans-serif; }
h2 {
    color: #2D4357;
    padding: 12px;
    font-family: 'Poppins', sans-serif; }
h3 {
    color: #2D4357;
    padding: 10px;
    font-family: 'Poppins', sans-serif; }
h4 {
    color: #2D4357;
    padding: 12px; 
    font-family: 'Poppins', sans-serif; }
hr {
    border: 1px solid #556B6B; }
a:link {
    color: #ba0000;
    text-decoration: none; }
a:visited {
    color: #3c00d4; }
a:hover {
    color: #094f00;
    text-decoration: underline; }
a:active {
    color: #660336; }