body {
    font-family: Arial;
    background-color: #FFF7D6; }
h1 {
    color: #2D4357;
    background-color: #BEC77D;
    padding: 20px }
p {
    padding-left: 20px;
    padding-right: 20px; }
h2 {
    color: #2D4357;
    padding: 12px; }
h3 {
    color: #2D4357;
    padding: 10px; }
hr {
    border: 1px solid #BEC77D; }